// Aside: overrides many things
@media screen and (min-width: 1120px) {
  body {
    max-width: 70rem;
  }
  main {
    margin: 0 10rem 0 15rem;
  }
  #TOC {
    float: left;
    width: 13rem;
    position: sticky;
    top: 2rem;
    max-height: 88vh;
    overflow-y: auto;
    
    ul {
      padding-left: 1em;
    }
    li a {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      display: inline-block;
      vertical-align: bottom;
    }
    h2 {
      text-align: center;
    }
  }

  span.n, span.nota, div.nota.aside {
    padding: 0.2rem 0.1rem;
    font-size: .9em;
    line-height: 1.3em;
    display: inline-block;
    hyphens: auto;
    text-align: justify;
    float: right;
    clear: both;
    margin-right: -10rem;
    width: 9rem;
  }
  blockquote,
  .nota, .n, .notecard,
  .alert, .warning,
  .pex, .example {
    span.nota, span.n, div.nota.aside {
      margin-right: calc(-10rem - 1.5rem);
    }
  }
}
